# {{ project_name }}

[![PyPI License](https://img.shields.io/pypi/l/{{ repository_name }}.svg)](https://pypi.org/project/{{ repository_name }}/)
[![Package status](https://img.shields.io/pypi/status/{{ repository_name }}.svg)](https://pypi.org/project/{{ repository_name }}/)
[![Daily downloads](https://img.shields.io/pypi/dd/{{ repository_name }}.svg)](https://pypi.org/project/{{ repository_name }}/)
[![Weekly downloads](https://img.shields.io/pypi/dw/{{ repository_name }}.svg)](https://pypi.org/project/{{ repository_name }}/)
[![Monthly downloads](https://img.shields.io/pypi/dm/{{ repository_name }}.svg)](https://pypi.org/project/{{ repository_name }}/)
[![Distribution format](https://img.shields.io/pypi/format/{{ repository_name }}.svg)](https://pypi.org/project/{{ repository_name }}/)
[![Wheel availability](https://img.shields.io/pypi/wheel/{{ repository_name }}.svg)](https://pypi.org/project/{{ repository_name }}/)
[![Python version](https://img.shields.io/pypi/pyversions/{{ repository_name }}.svg)](https://pypi.org/project/{{ repository_name }}/)
[![Implementation](https://img.shields.io/pypi/implementation/{{ repository_name }}.svg)](https://pypi.org/project/{{ repository_name }}/)
[![Releases](https://img.shields.io/github/downloads/{{ repository_namespace }}/{{ repository_name }}/total.svg)](https://github.com/{{ repository_namespace }}/{{ repository_name }}/releases)
[![Github Contributors](https://img.shields.io/github/contributors/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }}/graphs/contributors)
[![Github Discussions](https://img.shields.io/github/discussions/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }}/discussions)
[![Github Forks](https://img.shields.io/github/forks/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }}/forks)
[![Github Issues](https://img.shields.io/github/issues/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }}/issues)
[![Github Issues](https://img.shields.io/github/issues-pr/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }}/pulls)
[![Github Watchers](https://img.shields.io/github/watchers/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }}/watchers)
[![Github Stars](https://img.shields.io/github/stars/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }}/stars)
[![Github Repository size](https://img.shields.io/github/repo-size/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }})
[![Github last commit](https://img.shields.io/github/last-commit/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }}/commits)
[![Github release date](https://img.shields.io/github/release-date/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }}/releases)
[![Github language count](https://img.shields.io/github/languages/count/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }})
[![Github commits this week](https://img.shields.io/github/commit-activity/w/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }})
[![Github commits this month](https://img.shields.io/github/commit-activity/m/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }})
[![Github commits this year](https://img.shields.io/github/commit-activity/y/{{ repository_namespace }}/{{ repository_name }})](https://github.com/{{ repository_namespace }}/{{ repository_name }})
[![Package status](https://codecov.io/gh/{{ repository_namespace }}/{{ repository_name }}/branch/main/graph/badge.svg)](https://codecov.io/gh/{{ repository_namespace }}/{{ repository_name }}/)
[![Code style: black](https://img.shields.io/badge/code%20style-black-000000.svg)](https://github.com/psf/black)
[![PyUp](https://pyup.io/repos/github/{{ repository_namespace }}/{{ repository_name }}/shield.svg)](https://pyup.io/repos/github/{{ repository_namespace }}/{{ repository_name }}/)

[Read the documentation!](https://{{ repository_namespace }}.github.io/{{ repository_name }}/)

